<!DOCTYPE html>
<html>
  <head>
    <title>LordOfTheGram</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= javascript_pack_tag 'application' %>
    <link href="https://fonts.googleapis.com/css?family=Grand+Hotel|Montserrat|Roboto&display=swap" rel="stylesheet">

    <% if logged_in?%>
        <script id="bootstrap-current-user" type="text/javascript">
            window.currentUser = <%= render("api/users/user.json.jbuilder", user: current_user).html_safe%>
        </script>
    <% end %>
    <script id="image-loader" type="text/javascript">
      window.images ={
        gram_phone: "<%= image_path("gram_phone")%>",
        lotg: "<%= image_path("LordOfTheGram")%>",
        logo: "<%= image_path("alt_logo")%>",
        profile: "<%= image_path("profile")%>",
        upload: "<%= image_path("upload")%>",
        house: "<%= image_path("house")%>",
        heart: "<%= image_path("heart")%>",
        red_heart: "<%= image_path("red_heart")%>",
        comment: "<%= image_path("comment")%>",
        remove: "<%= image_path("remove")%>"
      }
    </script>

    <%= javascript_pack_tag 'LOTG' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
